body {
    font-family: Arial, sans-serif;
    background: url('../img/sfondo3.png') no-repeat center center fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    color: #333333;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-button {
    background-color: #008CBA;
    width: 100%;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.app-button:hover {
    background-color: #007B9E;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
}

.form-group label {
    text-align: center;
    display: block;
    margin-bottom: 5px;
}

.form-group select, .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.center-table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 20px;
}
.center-table th, .center-table td {
    padding: 10px;
}
.center-table input[type="radio"] {
    transform: scale(1.5);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}